EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.top20lists.net
EMAIL_PORT=587
EMAIL_HOST_USER=viamusic@top20lists.net
EMAIL_HOST_PASSWORD=manish08?
EMAIL_USE_SSL=false
EMAIL_USE_TLS=true
DEFAULT_FROM_EMAIL=viamusic@top20lists.net
EMAIL_TIMEOUT=20
